In [2]:
# Load libraries

%load_ext autoreload
%autoreload 2
%matplotlib inline

import pandas as pd
import numpy as np
import datetime as dt
from datetime import date
import gc
from src.functions import data_exploration as dexp
from src.functions import data_import as dimp
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import pandas_profiling

import chart_studio as cs
from chart_studio import plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.set_config_file(offline=True)

## Loading data

In [4]:
# Loading data without missing values and outliers
df = dimp.import_data('../../data/interim/site_1/data_cleaned.csv')

Memory usage of dataframe is 54.88 MB
Memory usage after optimization is: 13.05 MB
Decreased by 76.2%

In [8]:
df.head()

,timestamp,building_id,building_age,primary_use,floor_count,square_feet,meter,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,meter_reading
0,2016-01-01 00:00:00,105,54,Education,5,50623,0,3.800781,2.400391,1021.0,240.0,3.099609,23.296875
1,2016-01-01 01:00:00,105,54,Education,5,50623,0,3.699219,2.400391,1021.5,230.0,2.599609,45.593750
2,2016-01-01 02:00:00,105,54,Education,5,50623,0,2.599609,1.900391,1022.0,0.0,0.000000,45.593750
3,2016-01-01 03:00:00,105,54,Education,5,50623,0,2.000000,1.200195,1022.5,170.0,1.500000,45.093750
4,2016-01-01 04:00:00,105,54,Education,5,50623,0,2.300781,1.799805,1022.5,110.0,1.500000,45.593750